.profile__button-edit{
  width: 24px;
  height: 24px;
  margin-left: 18px;
  padding: 0;
  background-image: url(../../../images/edit__icon.svg);
  background-size: 8px 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #fff;
}
.profile__button-edit:hover{
  background-image: url(../../../images/edit__hover.svg);
  border: 1px solid #999;
}

@media screen and (max-width:426px) {
  .profile__button-edit{
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
