.profile__job{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width:426px) {
  .profile__job{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
