.popup__form{
  position: relative;
  max-width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px 36px;
  width: calc(100% - 38px);
}
