.profile__content{
  min-height: 73px;
  max-width: 60%;
  margin: 0 0 0 30px;
}

@media screen and (max-width:767px) {
  .profile__content{
    margin: 22.25px 0 36px 0;
  }
}

@media screen and (max-width:426px) {
  .profile__content{
    max-width: 85%;
  }
}
