.profile__name{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width:426px) {
  .profile__name{
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
