.popup__container{
  background-color: #fff;
  min-width: 430px;
  color: #000;
  position: fixed;
  padding: 34px 36px 37px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  box-sizing: border-box;
}

@media screen and (max-width:426px) {
  .popup__container{
    min-width: 282px;
    margin: 0 auto;
    padding: 25px 22px;
  }
}
