.container{
  max-width: 880px;
  margin: 0 auto;
  min-height: 100vh;
  width: calc(100% - 38px);
  box-sizing: border-box;
}

@media screen and (max-width:426px) {
  .container{
    width: auto;
  }
}
