.header{
  max-width: 100%;
  margin: 45px 0 36px 0;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:426px) {
  .header{
    margin: 28px 0 39px 0;
    min-height: 56px;
  }
}
